# Datasets
ASVspoof2019_LA/
LA.zip
keys/

# Python cache
__pycache__/
*.pyc

# Hugging Face cache
.cache/

# ASVspoof 2021 dataset
ASVspoof2021_DF_eval/
ASVspoof2021_DF_eval_part00.tar.gz

# M1 datasets / external test data
M1_dataset/
m1_external_test/